*{
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    /* width: 240%; */
    grid-gap: 10px;
    height: 100vh;
    grid-template-rows: 1fr 1fr;
}

.todoContainer{
    display: flex;
    width: 40%;
    margin: auto;
    /* grid-template-columns: repeat(3,1fr); */
    -webkit-align-items: center;
    align-items: center;
    padding: 45px;
    justify-content: center;
    /* grid-gap: 5px; */
    font-size: 10px;
    /* background-size: cover; */
    background-repeat: no-repeat;
}
/* .todoContainer div{
    width: 200px;
    height: 330px;
    border: 1px solid;
}
.container div img{
    width: 200px;
    height: 200px;
} */

.formContainer{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    height: 100px;
    align-items: center;
}
form input {
    margin: 19px;
    width: 200px;
    height: 22px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    grid-column: 2;
}