.main{
    display: grid;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 20px;

}
.inputLine{
    text-align: center;
    margin-bottom: 20px;
    
}
.inputLine input{
    width: 394px;
    height: 50px;
    background-color: white;
    font-size: 30px;
    text-align: right;
}

.row{
    display: flex;
    margin-top: -41px;
}

h1{
    width: 100px;
    height: 50px;
    background: #19b5fe;       
    padding-top: 20px;
}
#LastRowH1{
    width: 100%;
    margin-top: -20px;
}

.last{
    background: #1f3a93
}