*{
    margin: 0%;
    font-family: 'AvenirNext-Regular';
}


/* ----------------------- Main css ----------------------- */

.aboutImg {
  animation: fade-slide-down 4s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    position: absolute;
    width: 500px;
    border-radius: 5px;
    left: 17%;
    top:20%;
    box-shadow: #020202 1px 0px 12px 2px;
}

.aboutImg:hover{
  opacity: .75; 
}

.aboutText{
  position: absolute;
  color: black;
  font-size: 21px;
  padding: 10px;
  text-align: justify;
  width: 500px;
  height: 480px;
  border-radius: 5px;
  right: 17%;
  top:20%;

}



@media(min-width:320px) and (max-width:425px){

  .aboutImg {
      width: 90px;
      height: 50px;
      left: -60px;
      top:10%;
      
  }

  .aboutText{
    font-size: 10px;
    padding: 10px;
    width: 500px;
    color: burlywood;
    right: 0px;
    top:50%;
  
  }
}