#getResult img{
    width: 100px;
    height: 100px;
}

 #update{
     display: none;
     background: black;
 }

 li{
     text-decoration: none;
     list-style: none;
 }

.checked {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;
    /* transform: rotate(180deg); */
  }
  
  ul li:nth-child(odd) {
    background: #ececec;
  }

  .delete{
    margin : 0px 550px 0px 0px;
    float: right;
    color: white;
  }

  .edit{
      margin: -20px 0px 2px 220px;
      display: grid;
  }

  .link{
      margin: 5px 0px 0px 0px;
  }

  
