*{
    margin: 0%;
}
h1 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 0px;
    background-color:#cdcdcd;
    color: black;
    height: 120px;
}
/* styling for the first line */
.firstLine {
    /* width: 85%; */
    height: 8px;
    background-color:black;
    margin-bottom: 1px;
    
}
/* styling for the second line */
.secondLine {
    /* width: 85%; */
    height: 2px;
    background-color: black;
    margin-top: 3px; 
    margin-bottom: 0%;  
}

.main{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
    width: 80%;
    margin:auto;
    text-align: justify; 
    
}
.main > div{
    padding: 1em;
    background: #bfbfbf
}
.main > div:nth-child(odd){
    background: #dadfe1;
}
p{
    text-align: justify;
}
img{
    width: auto;
    height: 200px;   
}

.lastBox{
    grid-column: 2/4;
}

#lastImg{
    float: left;
    height: 400px;;
    margin-right:2em;
}

.title{
    background-color: black;
    color:white;
    padding: 5px;
    margin-bottom: 2px;
    margin-top: 0px;
}