
body {
    background-color: #fcb941;
}
.btnStyle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:45%;
    margin:auto;
    padding:20px;
}

 .buttonStyle {
    width: 200px;
    height: 45px;
    background-color:#2e3131;
    color:white;
    font-size:15px;

}

.grid{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:5px;
    width:44%;
    margin: auto;
    padding:20px;
}