.card{
    
    width: 30%;
    margin: auto;
    height: 130px;   
    font-family: sans-serif;
}

.card h2,h4,p {
    padding: 3px;
}

.dollar{
    /* position: absolute; */
    margin-top: -100px;
    margin-left: 350px;
    font-size: 40px;
    color: darkblue;
    opacity: .5;
    text-align: center;
}