.friend{
    width: 50%;
    margin: auto;
}
.friend h2{
    background-color: cadetblue;
    padding: 10px;
    margin-bottom: -21px;
}

.friend div{
    background-color: bisque;
    
}

.friend li{
    line-height: 1.5;
}