body{
    background-color: #111111;
}
h1{
    color: #e2e80f;
    text-align: center;
    font-size: 30px;
}
p {
    color: #eeeeee;
    font-size: large;
    line-height: 1.5;
}
.credits {
    color: blue;
    text-decoration: underline;
}
.credits:hover {
    /* make the cursor change to the little hand */
    cursor: pointer;
}

#film-description {
    font-size: medium;
    font-style: italic;
}