*{
    box-sizing: border-box;
    margin: 0;
}

body{

    background-color: #0000005c;
    background-blend-mode: luminosity;
    background-image: url("https://www.fuze.com/blog/files/iStock-474395892_1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.header{
    background-color: #0000008f;
    background: linear-gradient(45deg, #011e52b8, #af0000a8);
    animation: Gradient 15s ease infinite;
    background-blend-mode: lighten;
    background-image: url("../img/star-wars.png" );
    background-attachment: fixed; 
    height: 250px;


}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static!important;
    left: 0px!important;
    opacity: 1!important;
    visibility: visible!important;
    pointer-events: all!important;
    width: 20px;
    height: 20px;
}

.secondRow {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    height: 54px;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteEdit{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

::placeholder { 
    color: gray;
    opacity: 1; 
  }

  .addContainer{
      margin-top: 10px;
      background: linear-gradient(-45deg, #3d4d69b8, #000000a8);
      background-size: 400% 400%;
      animation: Gradient 15s ease infinite;
      box-shadow: 0px 0px 30px;
      /* border: 1px solid white; */
  }
    .editContainer{
        margin-top: 10px;
        background-color: #3d4d69b8;
        box-shadow: 0px 0px 30px;
    }
    .container.editContainer.hoverable {
        margin-left: 10px;
        margin-right: 10px;
        width: 32vw;
        height: 28vh;
        padding: 1px;
    }

  .resultContainer{
    box-shadow: 0px 0px 30px;
  }


  @keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
} 

  .jedi{
    background: linear-gradient(-45deg, #0070a3, #00b0ff, #0099ff34, #ec18ff);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
    
  }

  .sith{
    /* background-color: #ff5722a6; */
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #ff5722a6, #23D5AB);
    background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
  }

  a.btn-floating.btn-small.pink.darken-3 {
    position: absolute;
    margin-top: -45%;
    margin-left: 88%;
}