*{
    margin: 0;
}

body{
    background-color: rgba(148, 147, 147, 0.493);
}

.container{
    background-color: rgb(177, 174, 174);
    height: 142px;
    box-shadow: 0px 0px 5px #505050;
}

.diceContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width:40%;
    justify-self: center;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    background-color: rgba(124, 124, 124, 0.658);
    text-align: center;
    box-shadow: 0px 0px 5px #505050;
}

.diceContainer div{
    background-color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
    justify-self: center;
    padding: 20px;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    margin: 5px;
    box-shadow: 0px 0px 10px; 
}

.btnContainer{
    width:30%;
    margin: auto;
    margin-top: 15px;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    
} 

.btnContainer button {
    height: 50px;
    width: 432px;
    background-color:rgba(124, 124, 124, 0.658);
    color:aliceblue;
    font-size: 18px;
    margin-top: 1px;
    border: 1px solid rgba(124, 124, 124, 0.815);
    outline: none;
    cursor: pointer;
}

.btnContainer button:hover{
    background-color:#f3450662;
    border: 1px solid #f2784b;
    box-shadow: 0px 0px 10px; 
}

.dieContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:6.8%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(70, 70, 70);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #505050;
}

.dieContainer div{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    box-shadow: 0x 0x 10px;
} 

.number1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/09/Dice-1.svg");
    background-size: cover;
}
.number2{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Dice-2.svg/1024px-Dice-2.svg.png");
    background-size: cover;
}
.number3{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Dice-3.svg/600px-Dice-3.svg.png");
    background-size: cover;
}
.number4{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Dice-4.svg/600px-Dice-4.svg.png");
    background-size: cover;
}
.number5{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Dice-5.svg/557px-Dice-5.svg.png");
    background-size: cover;
}
.number6{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Dice-6.svg/557px-Dice-6.svg.png");
    background-size: cover;
}