/* @import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic); */

@font-face {
    font-family: sansation_light;
    src: url(sansation_light.woff);
  }


  @font-face {
    font-family: verdemoderna;
    src:url(verdemoderna.woff);
}                                                                                                               /* 1000 lines?! */ 

  /* latin */
@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v7/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWx8QDO-WyrubOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMaC82U-ro.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
body{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif
}

header{
    background: url(http://www.csszengarden.com/214/huntington.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#topContent{
    background: url(http://www.csszengarden.com/214/gridlines.png),
                url(http://www.csszengarden.com/214/noise.png),
                url(http://www.csszengarden.com/214/contours@2x.png);
    background-attachment: fixed;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;

}
.headerLine{
    width: 100%;
    border-top: 8px solid rgba(19, 67, 71, 0.9);
}

#topContent h1{
    font-family: Julius Sans One;
    color: white;
    margin: 12px 0px 0px 0px;
    font-size: 22px;
    font-weight: lighter;
}
#topContent h5{
    margin: 5px 0px 0px 0px;
    color: white;
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
    opacity: .6;
}
span{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.enso{
    width: 40px;
    opacity: .5;
    margin-top: 20px;
}


#viewAllDesign{
    position: absolute;
    background: rgba(255,255,255,0.3);
    display: flex;
    bottom: 0;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

#viewAllDesign span {
    color: rgb(236, 236, 236);
    font-size: 13px;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration-line: none;
}
 
#mainContent1{
    display: grid;
    /* 10% for each margin on both side and 1fr for main content */
    grid-template-columns: 10% 1fr 10%;
}

/* A demonstration */
.part1{
    grid-column: 2;
    margin-top: 15px;
    line-height: 2;
    color: #325050;
}
.part1 p{
    font-size: 11px;
    line-height: 1.9;    
}

/* part2 - THE ROAD TO ENLIGHTENMENT */
.part2{
    grid-column: 2
}
.part2 p{
    font-size: 11px;
    line-height: 1.9;
    margin-top: 9px;
}

.part2 h1{
    font-family: Julius Sans One;
    font-weight: lighter;
    font-size: 16px;
}

.part3{
    grid-column: 2;
}
.part3 h1{
    font-family: Julius Sans One;
    font-weight: lighter;
    font-size: 16px;
}
.part3 p{
    font-size: 11px;
    line-height: 1.9;
    margin-top: 9px;
}

.downloadPart{
    font-size: 0;
}



#greenBG{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    background-image: url(http://www.csszengarden.com/214/contours-opaque.png), 
    url(http://www.csszengarden.com/214/gridlines-opaque.png), 
    url(http://www.csszengarden.com/214/bamboo.png);
    background-attachment: fixed;
    margin-top: 18px;
    /* width: 400px; */
    background-color: rgba(138,188,159,0.5);
    
}

.part4{
    grid-column: 2;
    /* margin-left: 20px; */
    line-height: 1.9;
    color: #325050;
    margin-bottom: 17px;
}

.part4 p{
    font-size: 11px;
}

.part4 h1{
    font-family: Julius Sans One;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 20px;
}

.part4 a{
    text-decoration: none;
    color: #0d8ba1;
}
.part4 a:hover{
    text-decoration: underline;
}
/* REQUIREMENTS  include part5*/
#mainContent3{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}
.part5{
    grid-column: 2;
}
.part5 p{
    font-size: 11px;
    line-height: 20px;
    color: #325050;
}

.part5 h1{
    font-family: Julius Sans One;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 35px;
}

.part5 a{
    text-decoration: none;
    color: #0d8ba1;
}
.part5 a:hover{
    text-decoration: underline;
}

.bottomContent{
    margin-top: 0px;
}
.footerText{
    background-image: url(http://www.csszengarden.com/214/contours@2x.png),
                    url(http://www.csszengarden.com/214/gridlines.png),
                    url(http://www.csszengarden.com/214/noise.png),
                    url(http://www.csszengarden.com/214/koi.jpg);
    height: 275px;
    background-position-x: 0px,180px,0px,0px;
    background-size: 60%,50%,50%,cover;
    background-position-y: 0,-123px,0px,-50px;
}

.footerText p {
    color: rgb(255, 255, 255, 0.4);
    font-style: italic;
    font-size: 16px;
    padding: 40px;
    line-height: 1.8;
    text-align: center;
}
.footerText p a{
    text-decoration: none;
    color: white;
    opacity: .7;
    font-family: sansation_light;  
    font-style: normal;
    font-size: 22px;

}

.footerIcons{
    background: #134347;
    height: 100px;
    margin-top: -100px;
    display:flex;  
}

.footerIcons a{
    display: inline-block;
    align-self: center;
    margin-left: 35px;
    font-family: verdemoderna;  
    font-size: 40px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased; /* make font smoothing, but it only works on Mac OS X/macOS. */
    
}

.footerNamesUL{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #edf4f0;
    line-height: .9;
    color: #607476;
    
}
.line{
    border-bottom: 1px solid #d9e3dc;
}

.footerNamesUL div:nth-of-type(odd){
    grid-column: 1;
    margin-left: 10%;
    /* margin-bottom: -12px; */
    /* border-bottom: 1px solid #d9e3dc; */
}
.footerNamesUL div:nth-of-type(even){
    grid-column: 2;
    margin-left: 10%;
  }

.footerNamesUL h1{
    font-family: Julius Sans One;
    font-weight: lighter;
    font-size: 13px;
    margin-top: 10px;

}

.footerNamesUL h3{
    font-size: 10px;
    margin-top: -5px;
    font-weight: lighter;
    
}
.footerNamesUL h3 span{
    font-style: italic;
    text-decoration-line: none;
    opacity: .5;
} 

.faq{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
    height: 120px; 
    background-color: rgba(138,188,159,0.5);
    background-image: url(http://www.csszengarden.com/214/bamboo.png);
}
.faq div{
    border-bottom: 1px solid #a0b9ad;;
}

.faq div:nth-of-type(odd){
    grid-column: 1;
    margin-left: 10%;
}
.faq div:nth-of-type(even){
    grid-column: 2;
    margin-left: 10%;
}

.faq div p{ 
    font-size: 13px;
    font-weight: lighter;
    font-family: Julius Sans One;
    margin-top: 12px;
    color: #607476;
    
}





/* -------- Media query ---------- */

@media screen and (min-width:401px){


.footerNamesUL{
    line-height: 1.7;
}
    
.faq{
    line-height: 1.7;
    height: 170px;
}
}


/* -  width on 401 to 480 -  */
@media (min-width:401px) and (max-width:480px){
    #topContent{
        height: 185px;
    }
    
    #topContent h1{
        margin: 45px -30px 0px 0px;
        font-size: 22px;
    }

    .enso{
        position: absolute;
        width: 40px;
        margin-left: -140px;
        margin-top: 40px;
    }
}


@media screen and (min-width:481px){
#topContent{
    height: 185px;
}

#topContent h1{
    margin: 45px -30px 0px 0px;
    font-size: 30px;
}

.enso{
    position: absolute;
    width: 65px;
    margin-left: -200px;
    }
.downloadPart{
    display: block;
    grid-column: 2;
    font-size: 11px;
    margin-top: -9px;
    color: #325050;
    
}
.downloadPart p{
    display: inline-block;

}
.htmlFile , .cssFile{
    display: inline-block;
    padding: 3px;
    
    
}
.htmlFile a, .cssFile a{
    text-decoration: none;
    color: #a9b995;
    font-family: Julius Sans One;
    font-size: 11px;
}
.htmlFile span, .cssFile span{
    font-family: verdeModerna;
    background-color: #d9e1cd;
    color: #a9b995;
    font-size: 15px;
    border-radius: 1px;
    text-decoration-line: none;  
}

.footerIcons a{
    width: 100%;
    
}
    
}


@media screen and (min-width:1132px){
    
    .width1132{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    header{
        height: 300px;
    }
    
    #topContent{
        height: 300px;
        display: grid;
        grid-template-columns: 70% 30%;
        
       
    }

    #topContent h1{
        grid-column: 1;
        font-size: 55px;
        margin: 19px 0px 0px 130px;
        
    }
    #topContent h5{
        grid-column: 1;
        margin: -65px 0px 0px -40px;
        font-size: 25px;
    }

    .enso{
        grid-column: 1;
        width: 125px;
        opacity: 1;
        margin-left: -27%;
    }

    .headerLine{
        grid-column: 1/-1;
        border-top: 12px solid rgba(19, 67, 71, 0.9); 
        border-top-right-radius: 2px;   
    }

    #viewAllDesign{
        grid-column: 2;
        grid-row: 3/3;
        width: 350px;
        /* height: 110px; */
        align-items: center;
        transform: translateX(5%);
        background: rgba(255,255,255,0.1);
        
    }
    #viewAllDesign span {
        color: rgb(236, 236, 236,0.7);
        font-size: 16px;
        line-height: 2;
        font-family: 'Julius Sans One', sans-serif;
        text-decoration-line: none;
    }

    #mainContent1{
        grid-column: 1;
    }
    #greenBG{
        grid-column: 1;
        margin-top: 0px;
    }

    #mainContent3{
        grid-column: 1;
    }

    .bottomContent{
        grid-column: 1/-1;
    }

    .footerText{
        height: 340px;
    }
    .footerText p {
        width: 1000px;
        font-size: 25px;
        padding: 70px;
        margin-left: 130px;
    }
    .footerText p a{
        font-size: 30px;
    }

    .footerIcons{
        grid-column: 1/-1;
        height: 150px;
        justify-content: center;
        
    }
    .footerIcons a{
        align-items: center;
        font-size: 60px;
        margin: 40px;
       
    }

    .footerNamesUL{
        grid-column: 2;
        grid-row: 1;
        display: block;
        line-height: 2;
        
    }
    .footerNamesUL div{
        border-top: 1px solid #d9e3dc;
    }
    .footerNamesUL h1{
        font-size: 16px;
        margin-left: 20px;
    }
    .line{
        border-bottom: 0;
    }
    .footerNamesUL h3{
        font-size: 12px;
        margin-top: -10px;
        margin-left: 20px;
    }
    .faq{
        display: block;
        grid-column: 2;
        grid-row: 2;
        height: 100%;
        background-color: rgba(103, 160, 127, 0.50);
  
    }
    .faq div{
        align-items: center;
        margin-top: 25px;   
        margin-bottom: 25px;   
    }
    .faq div p{
        font-size: 15px;
    }
    #firstName{
        margin-top: 40px;
    }
    #firstFaq{
        margin-top: 100px;
    }
    #mainContent1 p, #greenBG p, #mainContent3 p {
        font-size: 13px;
        line-height: 2;
        
    }
    #mainContent1 h1, #greenBG h1, #mainContent3 h1 {
        font-size: 23px;
        
    }
    .part3{
        margin-bottom: 40px;
    }
    .part1{
        margin-top: 40px;
    }
    
}