
 h1{
     font-family: sans-serif;
     line-height: 1;
     margin-bottom: -15px;
     font-size: 25px;
     padding: 10px;
 }
 p {
     font-size: 15px;
     color: white;
     font-weight: lighter;
     font-family: sans-serif;
     padding: 10px;
     
 }